{
    "$schema": "https://json.schemastore.org/eslintrc.json",
    "root": true,
    "env": {
        "node": true,
        "es2024": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
    "rules": {
        "@typescript-eslint/lines-between-class-members": [
            "error",
            "always",
            {
                "exceptAfterSingleLine": true
            }
        ],
        "import/extensions": ["error", "ignorePackages"],
        "import/no-commonjs": "error",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "./tests/**/*.ts",
                    "./vitest.config.ts"
                ]
            }
        ],
        "import/no-default-export": "error",
        "import/no-named-as-default-member": "error",
        "import/prefer-default-export": "off",
        "lines-between-class-members": "off",
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
        "radix": "off"
    }
}
