{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base"
    ],
    "rules": {
        "@typescript-eslint/comma-dangle": ["error", "never"],
        "@typescript-eslint/indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "@typescript-eslint/lines-between-class-members": ["error", "always", {
            "exceptAfterSingleLine": true
        }],
        "comma-dangle": "off",
        "indent": "off",
        "lines-between-class-members": "off",
        // "no-param-reassign": ["error", {
        //     "props": false
        // }],
        "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
        "radix": "off"
    }
}
