{
    "env": {
        "mocha": true
    },
    "plugins": ["chai-friendly"],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:chai-friendly/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/lines-between-class-members": [
            "error",
            "always",
            {
                "exceptAfterSingleLine": true
            }
        ],
        "@typescript-eslint/no-unused-expressions": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": ["**/tests/**/*.ts"]
            }
        ],
        "import/prefer-default-export": "off",
        "no-await-in-loop": "off",
        "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
        "radix": "off"
    }
}
